:root {
  --background-color: #f9f7fe;
  --heading-font-family: "Anek Devanagari", sans-serif;
  --default-font-family: "Lato", sans-serif;
  --contrast-color: blueviolet;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font-family);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background-color: var(--background-color);
  padding: 160px 10px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: 400;
}

h1 {
  font-size: 72px;
  font-weight: 600;
}

.hero p {
  font-size: 32px;
  font-family: var(--heading-font-family);
}
.projects h2 {
  font-size: 48px;
}

.btn {
  margin-top: 30px;
  background-color: var(--contrast-color);
  color: aliceblue;
}

.projects {
  padding: 20px;
}

.project-wrapper:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.projects p {
  line-height: 30px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
}
