:root {
  --background-color: #f9f7fe;
  --heading-font-family: "Anek Devanagari", sans-serif;
  --default-font-family: "Lato", sans-serif;
  --contrast-color: blueviolet;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font-family);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  width: 150px;
}

.navbar-nav .nav-link {
  font-family: var(--heading-font-family);
}

.navbar-nav .nav-link.active {
  color: var(--contrast-color);
  font-weight: bold;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.hero {
  background-color: var(--background-color);
  padding: 160px 10px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: 400;
}

h1 {
  font-size: 72px;
  font-weight: 600;
}

.title {
  font-size: 64px;
  line-height: 80px;
}

.about-subtitle {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.hero p {
  font-size: 32px;
  font-family: var(--heading-font-family);
}
.projects h2 {
  font-size: 48px;
}

.btn {
  background-color: var(--contrast-color);
  border: 1px solid var(--contrast-color);
  color: aliceblue;
  height: 56px;
  padding: 15px 30px;
}

.hero-btn {
  margin-top: 30px;
}

.btn:hover {
  color: var(--contrast-color);
  background-color: #f9f7fe;
}

.projects {
  padding: 20px;
}

.project-wrapper:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.projects p {
  line-height: 30px;
}

.img-fluid {
  border-radius: 10px;
}

footer .contacts-block {
  background-color: var(--background-color);
  padding: 30px 120px;
  align-items: center;
  border-radius: 10px;
}

footer h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

footer .social-links {
  gap: 30px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: var(--background-color);
  color: var(--contrast-color);
  border-radius: 50%;
  align-items: center;
}

.footer-social-link:hover {
  background-color: var(--contrast-color);
  color: white;
}

@media (max-width: 700px) {
  h1 {
    font-size: 48px;
  }

  footer .contacts-block {
    padding: 30px;
  }

  footer h4 {
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  h1,
  .title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 492px) {
  footer .contacts-block {
    flex-direction: column;
  }

  .footer-text p {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
}
